@import "../themes/_default.scss";

$link-color: $smoky-black;
$link-background: $smoky-black;
$transparent: rgba($link-background, 0);

.menu {
  ul {
    list-style: none;
    margin-top: 70px;
  }

  .pull-left li {
    float: left; }

  .pull-right li {
    float: right; }

  &-item {
    margin-right: 2rem;
  }

  &-link {
    text-decoration: none;
    color: $mellow-yellow;
    font-size: 2rem;
    font-weight: bold;

    &::before { // animation control
      content: "";
      display: block;
      width: 0;
      background: $link-background;
      transition: width .5s; 
    }

    &:hover {
      color: $link-color;
      outline-width: 10px;
      text-decoration: none;
      background-color: $transparent;

      &::before { // animation control
        width: 100%; }
    }

    &:active {
      color: $link-color;
      background-color: $transparent;
    }

    &:hover {
      color: $link-color;
    }
  }
}
