include nav.pug

link(rel="stylesheet" href="/public/css/footer.css")

footer(class="footer")
  +nav("pull-left")
  a(href="/")
    img(class="dog-logo" src='/public/images/logoDog.png' class="mySlides")
