mixin nav
  nav(class="navbar")
    a(class="brand" href="/")
      div(class="logo")
      div(class="description")
        span Pet 'N Found

    ul(class="tabs")
      li(class="tab search")
        a(class="link search-icon" href="/search")
          span(class="material-icons") search
      li(class="tab report")
        a(class="link" href="/report") Report
      li(class="tab map")
        a(class="link" href="/map") Map
      li(class="tab sign-in")
        a(class="link" href="/register") Sign In
