include nav.pug

link(rel="stylesheet" href="/public/css/sidebar.css")

header(class="sidebar")
  +nav("pull-left")

  span(class="sidebar-title")
    a(href="/")
      img(class='sidebar-image' src='/public/images/logoDog.png' href='/')
