
.footer {
  width: 100%;
  margin-left: 0rem;
  margin-top: 5rem;
  height: 100px;
  background-color: #17b563ff;
}

.footer a {
  color: yellow;
}

.footer a:hover {
  color: black;
}

.menu a::before {
  color: yellow;
}

