extends includes/app.pug

block content
  script(src="../static/js/report.js")
  h1 Submit a Found Pet Report
  form(action="/submit" class="report")
    input(type="text" class="form-control" name="location" placeholder="Location")
    input(type="text" class="form-control" name="species" placeholder="Species")
    input(type="text" class="form-control" name="name" placeholder="Name")
    input(type="text" class="form-control" name="email" placeholder="Email")
    input(type="text" class="form-control" name="phone" placeholder="Phone")
    input(type="button" onclick="fileSelect()") Select File
    input(type="submit" class="form-control" placeholder="Submit")
