extends includes/app.pug

block content
   center
     h1 A better way to find pets 
     p At Pet 'N Found, our mission is to help you locate your lost pets quickly, intuitively, and efficiently.

     img(width:80% src='../static/images/pic1.jpg' class="mySlides")
     h1 Providing comfort in times of need
     p Pet 'N Found makes it easy for you to locate your pets - just 