extends layout/app.pug

block content
  div(class="main")
    h1(class="hook") A better way to find pets
    div(class="line")

    div(class="more-info")
      p(class="text-tertiary-color") At Pet 'N Found, our mission is to help you locate your lost pets quickly, intuitively, and efficiently.

    a(class="get-started-btn text-tertiary-color" href="/register") Get Started

  div(class="secondary")
    div(class="pic1")

    h1(class="hook") Providing comfort
    div(class="line")

    div(class="info")
      p(class="text-secondary-color") At Pet 'N Found, we provide an extensive platform for our users to  locate their pets.
      p(class="text-secondary-color") Just simply report a lost pet from a location, and members of the Pet 'N Found community will begin searching.
