extends includes/app.pug

block content
  div != 
    '<style>
      body{ 
        background-color: #17b563ff; 
      }
      p{
        color: #ffff00;
      }
     </style>
     <p>test</p>
     <img src="static/images/logoMedium.PNG"></img>'

  
