
html(lang="en")
  include includes/head.pug

  link(rel="stylesheet" href="static/css/app.css")
  link(rel="stylesheet" href="static/css/authorize.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body
    div(class="container")
      div(class="row")
        div(class="col-md-6 col-md-offset-3")
          div(class="panel panel-login")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  a(id="login-form-link" class="active" href="#") Login
                div(class="col-xs-6")
                  a(id="register-form-link" href="#") Register
              hr

            div(class="panel-body")
              div(class="row")
                div(class="col-lg-12")
                  form(id="login-form" action="/login/process" method="post" role="form" class="display-block")
                    include includes/login_inputs

                  form(id="register-form" action="/register/process" method="post" role="form" class="none")
                    include includes/register_inputs.pug

    // JQuery
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/authorize.js")
