extends ../layout/app.pug

block content
  script(src="/public/js/report.js")
  link(rel="stylesheet", src="/public/css/report.css") 

  h1 Submit a Found Pet Report
  form(action="/report/submit" class="report border rounded" method="post" enctype="multipart/form-data")
    div(class="form-group")
      label(for="location") Location where the pet was found
      input(type="text" class="form-control" name="location" placeholder="Enter location")

    div(class="form-group")
      label(for="species") Species
      input(type="text" class="form-control" name="species" placeholder="Enter species")

    div(class="form-group")
      label(for="name") Pet name
      input(type="text" class="form-control" name="name" placeholder="Enter name")

    div(class="form-group")
      label(for="desription") Description
      textarea(class="form-control" name="description" rows="3")

    div(class="form-group")
      label(class="custom-file") Image
      input(type="file" name="image" class="form-control-file")

    button(type="submit" class="btn btn-primary") Submit
