@import "../modules/_fluid_typography.scss";

$primary: #3E5991;
$secondary: #FFFFFF;
$tertiary: #000000;

$login-button-color: #59B2E0;
$register-button-color: #1CB94E;

$navbar-height: 100px;

/* Single property */
html {
  @include interpolate(font-size, 360px, 3840px, 12px, 64px);
  min-width: 100%;
}

ul, li, a {
  color: inherit; }

a {
  text-decoration: none;
  color: $secondary;
}

.none {
  display: none; }

.display-block {
  display: block; }

.fluid-container {
  border-radius: 0px;
}

%text-shared {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;

  text-shadow: 0px 4px 4px rgba($tertiary, 0.25);
}

