$primary: rgba(23, 181, 99, 1);
$secondary: rgba(224, 242, 233, 1);
$dark-vanilla: rgba(206, 181, 167, 1);
$mellow-yellow: rgba(255, 221, 112, 1);
$burnished-brown: rgba(161, 124, 107, 1);
$wintergreen-dream: rgba(91, 123, 122, 1);
