extends ../layout/app.pug

include ../report/_report_tile.pug

block content
  div(class="user-info")
    div(class="username")=user.username
    a(href="/user/" + user.username + "/message")
      ul(class="message")
        li(class="material-icons") message
        li(class="info") Message

  div(class="reports")
    h1(class="reports-title")="Reports from " + user.username

    div(class="report-tiles")
      center 
        each report in user.lostReports
          +report_tile(`/public/images/reportImages/${report.imageFileName}`, 
            user.username, report.name, report.species, "", report.address)
